.category-tree-invisible {
  display: none;
}

.category-tree ul,
.category-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


.category-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.category-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.general-toolbar{
  margin-top: 10px;
  margin-left: 10px;
}

.node-toolbar{
  padding-top: 10px;
  padding-left: 10px;
}
.toolbar-icon{
  font-size: 15px;
  cursor: pointer;
}

.toolbar-icon:hover{
  font-size: 17px;
}